<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <appSettings>
    <!--本地hostname:localhost 远程hostname:直接用IP，不用加端口-->
    <add key="QueueHostName" value="localhost"/>
    <add key="QueueIsLog" value="false"/>
    <add key="QueueIsWriteTempQueue" value="false"/>
  </appSettings>
  
</configuration>